.candidate-page {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sidebar {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a, .sidebar ul li button {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li a:hover, .sidebar ul li button:hover {
  background: #1a252f;
  color: #fff;
}

.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background: #1a252f;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

.card-body {
  padding: 20px;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #1a252f;
}

.profile-photo input[type="file"] {
  margin-top: 15px;
  display: block;
  width: 100%;
  color: black;
}

.btn-primary {
  background-color: #1a252f;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;

}

.btn-primary:hover {
  background-color: #1a252f;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
