/* SignInModal.css */
.sign {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust height to fill the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Adjust the opacity to make it lighter */
}

.content {
  position: relative;
  z-index: 1; /* Ensure the content appears above the background image */
  width: 400px; /* Adjust the width as needed */
  padding: 20px;
  background-color: rgba(248, 241, 229, 0.9); /* Semi-transparent light brown */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for the form */
}

.content h2 {
  color: #0f4c75; /* Dark blue */
}

.form-group {
  margin-bottom: 20px;
  position: relative; /* Position relative for absolute positioning of icons */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #0f4c75; /* Dark blue */
}

input[type="text"],
input[type="password"] {
  width: 100%; /* Use full width */
  padding: 10px 10px 10px 40px; /* Adjust padding to leave space for icon */
  border: 1px solid #0f4c75; /* Dark blue */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white */
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #0f4c75; /* Dark blue */
}

input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #617a57; /* New color for the button */
  border: none;
  border-radius: 5px;
  color: #fff; /* White font color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #4d6045; /* Darker shade for hover effect */
}

.form-links {
  margin-top: 10px;
  color: #628a51; /* New color for the text */
}

.form-links a {
  color: #628a51; /* New color for the links */
  text-decoration: none;
}

.form-links a:hover {
  text-decoration: underline;
}

.transparent-input {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #ccc; /* Add bottom border for input fields */
  padding-left: 40px; /* Adjust left padding to make space for icon */
}

.transparent-button {
  background-color: #617a57; /* New color for the button */
  border: none; /* No border */
  color: #fff; /* White font color */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transparent-button:hover {
  background-color: #4d6045; /* Darker shade for hover effect */
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px; /* Adjust left margin to position the icon */
  color: #8179c7; /* Change icon color */
}
